.loading{
    height: 80vh;
}

.info-risto, .info-rec{
    line-height: 5px;
}

.reserve-title, .recensioni{
    color: #f87c00;
    text-align: center;
    margin-top: 30px;
}

.prenota, .text-area{
    max-width: 700px;
    margin: 0 auto;
}

.bi-people{
    font-size: 20px;
    bottom: 4px;
    left: 30px;
}

.bi-star, .bi-star-fill{
    color: #f84200;
    cursor: pointer;
}

.green{
    color: forestgreen;
}

.yellow{
    color: rgb(255, 217, 0);
}

.date-title{
    font-size: 12px;
}

.facolt{
    font-size: 11px;
}

